@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: 'Volvo Novum';
  src: local("☺"), url("../fonts/Volvo Novum-Bold.woff") format("woff"), url("../fonts/Volvo Novum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Volvo Novum';
  src: local("☺"), url("../fonts/Volvo Novum-Italic.woff") format("woff"), url("../fonts/Volvo Novum-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Volvo Novum';
  src: local("☺"), url("../fonts/Volvo Novum-Light.woff") format("woff"), url("../fonts/Volvo Novum-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Volvo Novum';
  src: local("☺"), url("../fonts/Volvo Novum-Medium.woff") format("woff"), url("../fonts/Volvo Novum-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Volvo Novum';
  src: local("☺"), url("../fonts/Volvo Novum-Regular.woff") format("woff"), url("../fonts/Volvo Novum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

body {
  font-family: 'Volvo Novum', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #161618;
}

.no-scroll {
  overflow: hidden;
}

.title-2 {
  font-size: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.title-3 {
  opacity: 0.5;
}

.home {
  padding: 97px 0 129px 0;
}

.home__model {
  margin-bottom: 87px;
}

.model__title-2 {
  text-align: center;
  margin-bottom: 40px;
}

.model__title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.model__title-3 {
  cursor: pointer;
}

.model__title-3.active {
  opacity: 1;
}

.model__title-3:not(:last-of-type) {
  margin-right: 60px;
}

.model__img {
  max-width: 305px;
  max-height: 172px;
  margin-bottom: 10px;
  min-width: 260px;
}

.model__text {
  font-size: 1.125rem;
}

.model__text.active {
  font-weight: 700;
  color: #007BCD;
}

.cross,
.sedan,
.crossovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

.cross__item:not(:last-of-type),
.sedan__item:not(:last-of-type),
.crossovers__item:not(:last-of-type) {
  margin-right: 20px;
}

.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selected__img {
  position: relative;
  -webkit-transform: translateX(-1000px);
      -ms-transform: translateX(-1000px);
          transform: translateX(-1000px);
  -webkit-animation: auto 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: auto 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.selected__img_1 {
  position: absolute;
  top: 58%;
  left: 12.5%;
  -webkit-animation: koleso 2.1s ease-out;
          animation: koleso 2.1s ease-out;
}

.selected__img_2 {
  position: absolute;
  top: 58%;
  right: 11.13%;
  -webkit-animation: koleso 2.1s ease-out;
          animation: koleso 2.1s ease-out;
}

@-webkit-keyframes koleso {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes koleso {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes auto {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes auto {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.left {
  position: relative;
  margin-right: 93px;
}

.left__text {
  position: absolute;
  top: -21px;
  right: 18px;
  padding: 14px 32px 14px 39px;
  color: white;
  max-width: 256px;
  background-color: #007BCD;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 123, 205, 0.3);
          box-shadow: 0px 10px 20px rgba(0, 123, 205, 0.3);
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
}

.left__text_top {
  font-weight: 700;
  font-size: 1.1875rem;
  text-transform: uppercase;
  -webkit-transform: skew(20deg) translateX(-7px);
      -ms-transform: skew(20deg) translateX(-7px);
          transform: skew(20deg) translateX(-7px);
}

.left__text_bottom {
  font-size: 0.875rem;
  opacity: 0.8;
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
}

.right__title {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 40px;
}

.right__item-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 97px;
  margin-bottom: 31px;
  white-space: nowrap;
}

.right__item_top {
  font-size: 0.875rem;
  opacity: 0.8;
}

.right__item_buttom {
  font-weight: 500;
  font-size: 1.75rem;
}

.credit-leasing {
  margin-bottom: 50px;
}

.credit-leasing__input {
  display: none;
}

.credit-leasing__input:checked + label span {
  opacity: 1;
}

.credit-leasing__input:checked + label::before {
  right: 15px;
}

.credit-leasing__label {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credit-leasing__label_leasing {
  margin-left: 10px;
}

.credit-leasing__label span {
  opacity: 0.5;
}

.credit-leasing__label:first-of-type::before {
  content: '';
  position: absolute;
  right: 3px;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #007BCD;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.credit-leasing__label:first-of-type::after {
  content: '';
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-left: 10px;
  border: 1px solid #007BCD;
  border-radius: 31px;
}

.btn {
  font-size: 0.9375rem;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn_offer {
  padding: 20px 43px 20px 43px;
  color: white;
  background-color: #007BCD;
  margin-right: 40px;
}

.btn_offer:hover {
  background-color: #008EEC;
}

.btn_test {
  text-decoration: underline;
}

.btn_test:hover {
  color: #007BCD;
  -webkit-text-decoration: underline #007BCD;
          text-decoration: underline #007BCD;
}

.modal__fon {
  position: fixed;
  background-color: #161618;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__content {
  position: fixed;
  padding: 60px 74px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
}

.modal__container {
  max-width: 270px;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.modal__close:hover {
  cursor: pointer;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__title {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal__text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  margin-bottom: 30px;
}

.modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.modal__input-check {
  margin-right: 10px;
}

.modal__input-check:hover {
  cursor: pointer;
}

.modal__label-check {
  font-size: 14px;
  line-height: 1.36;
  color: #4F4F4F;
}

.modal__label-check a {
  text-decoration: underline;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.form__input-tel {
  padding: 20px 15px;
  border: 1px solid #E0E0E0;
  margin-bottom: 15px;
}

.form__submit {
  width: 100%;
}

.form__submit:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .selected__img_1 {
    max-width: 63px;
  }

  .selected__img_2 {
    max-width: 63px;
  }

  .left__text {
    top: -51px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .crossovers {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .selected {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .selected__img {
    margin-bottom: 30px;
  }

  .selected__img_1 {
    max-width: 100%;
    top: 57.5%;
    left: 12.5%;
  }

  .selected__img_2 {
    max-width: 100%;
    top: 57.5%;
    right: 11%;
  }

  .left {
    margin-right: 0;
  }
}

@media (max-width: 816px) {
  .modal__content {
    padding: 30px 37px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .cross,
  .sedan,
  .crossovers {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .selected__img_1 {
    max-width: 70px;
  }

  .selected__img_2 {
    max-width: 70px;
  }

  .right__title {
    margin-bottom: 25px;
  }

  .right__item-list {
    gap: 25px 90px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 320px;
    padding: 0 15px;
  }

  .title-2 {
    font-size: 1.625rem;
  }

  .title-3 {
    font-size: 0.875rem;
  }

  .home {
    padding: 29px 0 57px 0;
  }

  .home__model {
    margin-bottom: 94px;
  }

  .model__title-2 {
    margin-bottom: 20px;
  }

  .model__title-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .model__title-3:first-child {
    margin: 0 auto 15px auto;
  }

  .model__img {
    max-width: 220px;
    min-width: 220px;
  }

  .model__text {
    font-size: 1rem;
  }

  .selected__img {
    min-width: 290px;
  }

  .selected__img_1 {
    max-width: 40px;
    top: 55.5%;
    left: 12.3%;
  }

  .selected__img_2 {
    max-width: 40px;
    top: 55.5%;
    right: 10.5%;
  }

  .left__text {
    padding: 9px 20px 9px 24px;
    top: -34px;
  }

  .left__text_top {
    font-size: 0.75rem;
  }

  .left__text_bottom {
    font-size: 0.5625rem;
  }

  .right__title {
    font-size: 1.625rem;
    margin-bottom: 15px;
  }

  .right__item-list {
    gap: 20px 61px;
  }

  .right__item_top {
    font-size: 0.75rem;
  }

  .right__item_buttom {
    font-size: 1.25rem;
  }

  .right__buttom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .credit-leasing {
    margin-bottom: 30px;
  }

  .btn_offer {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
}